@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-weight:400;
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
}

.homeSlider{
    height:100vh;
}

.homeSlider .sliderCol .imgtitle h5{
    padding:0;
    margin:0;
}

.homeSlider .sliderCol .imgtitle a{
    color:#fff;
}

.homeSlider .sliderCol img{
    height:100vh;
    width:100%;
    transition:all 0.2s ease;
}

.homeSlider .sliderCol:hover img{
    transform: scale(1.0);
    opacity:0.8;
    height: 100vh;    
}

header{
    margin-top:15px;   
}

header a.contactLink{
    color:#fff;
    top:-8px;
    position:relative;
}


header .brandImg{
    width:170px;
}

header .container{   
    padding:15px 25px;
}

header .rtSocial .icomoon{
    font-size:30px;
    color:#fff;
}

header .rtSocial a{
    margin:0 7px;
    display:inline-block;
}

.colImg01 figure, .colImg02 figure, .colImg03 figure{
    margin:0;
    padding:0;
    position:relative;
} 

.colImg01 figure::before, .colImg02 figure::before, .colImg03 figure::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:55%;
    transition: all 0.2s ease;
}

.colImg01 figure::before{
    background:#0F002D;
}
.colImg02 figure::before{
    background:#54004E;
}
.colImg03 figure::before{
    background:#232100;
}

.GroupHome .colImg01{
    margin:0;
    padding:0;
}

.GroupHome .colImg01 img{  
    height:100vh;
    width:100vw;  
    object-fit:cover;
}

.colImg02{
    margin:0;
    padding:0;
}

.colImg02 img{
    height:50vh;
    width:100vw;
    object-fit:cover;
}

.colImg03{
    margin:0;
    padding:0;
}

.colImg03 img{
    height:50vh;
    width:100vw;
    object-fit:cover;
}

.newCol h2{
    font-size:25px;
    font-weight:600;
    color:#fff;
    position:absolute;
    z-index: 99;
    top:50%;
    left:50%;
    margin-left:-25%;
}

.newCol:hover figure::before{
    opacity:70%;
}